@model IEnumerable<Hotel_reservas.Models.Reservas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<script>
    $(document).ready(function () {
        $("#texto").on("keyup", function () {
            var valor = $(this).val().toLocaleLowerCase();
            var fil = $("#filtro").val();
            $.ajax({
                data: { va: valor, filtro: fil },
                url: "/Reservas/BusquedaReserva",
                type: "post",
                success: function recibir(data) {
                    var resultado = $("#tabla");
                    resultado.html(data);
                }
            });
        })
    })


</script>
<div class="form-group">
    <div class="form-inline">
        <span class="text-info">criterio: </span>
        <select name="filtro" id="filtro" class="form-control">
            <option>tipo de habitacion</option>
            <option>nombre del huesped</option>

        </select>

        <input type="text" id="texto" name="busqueda" placeholder="ingrese la busqueda" class="form-control" />
    </div>
</div>

<br />


<table class="table table-bordered table-hover" id="tabla">
    <tr>
        <th>
            huesped
        </th>
        <th>
            tipo habitacion
        </th>
        <th>
            empleado
        </th>

        <th>
            tipo pago
        </th>
        <th>
            usuario
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero_habitaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_entrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_salida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Huesped.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitaciones.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_pago.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero_habitaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_entrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_salida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id_reservas }) |
            @Html.ActionLink("Details", "Details", new { id = item.id_reservas }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id_reservas })
        </td>
    </tr>
    }

</table>
